---
# tasks file for unbound
- name: install requirements
  package:
    name: "{{ unbound_requirements }}"
    state: present
  register: unbound_install_requirements
  until: unbound_install_requirements is succeeded
  retries: 3

- name: download archive
  unarchive:
    src: "https://nlnetlabs.nl/downloads/unbound/unbound-{{ unbound_version }}.tar.gz"
    dest: "{{ unbound_temporary_directory }}"
    list_files: yes
    remote_src: yes
    creates: "{{ unbound_temporary_directory }}/unbound-{{ unbound_version }}"
  register: unbound_download_archive
  until: unbound_download_archive is succeeded
  retries: 3
  notify:
    - configure
    - make
    - make install
    - install service

- name: make group unbound
  group:
    name: unbound
    system: yes

- name: make user unbound
  user:
    name: unbound
    group: unbound
    system: yes

- name: flush handlers
  meta: flush_handlers

- name: replace values in service file
  replace:
    path: /etc/systemd/system/unbound.service
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace | default(omit) }}"
  with_items:
    - regexp: "@UNBOUND_SBIN_DIR@"
      replace: /usr/local/sbin
    - regexp: "@UNBOUND_RUN_DIR@"
    - regexp: "@UNBOUND_CHROOT_DIR@"
    - regexp: "@UNBOUND_PIDFILE@"
  notify:
    - systemctl daemon-reload

- name: comment lines in service file
  replace:
    path: /etc/systemd/system/unbound.service
    regexp: "^({{ item }}.*)"
    replace: '#\1'
  loop:
    - CapabilityBoundingSet
    - ProtectSystem
    - SystemCallFilter

- name: configure unbound
  template:
    src: unbound.conf.j2
    dest: /usr/local/etc/unbound/unbound.conf
    validate: /usr/local/sbin/unbound-checkconf %s
  notify:
    - restart unbound

- name: flush handlers
  meta: flush_handlers

- name: start and enable unbound
  service:
    name: unbound
    state: started
    enabled: yes
